

.unclear-box{
  diplay:flex;
  flex-direction: row;
  height: 150px;
  width: auto;
  background-color:white;
}


.third-box{
  display:flex;
  flex-direction: column ;
  height:680px;
  background-color:#FAE5D3;
}


.main-edg{
  background-color: #851B02;
  margin-top: 50px;
  width:100%;
  height:50px;
}

.links-styles{
  color: black;
  font-size: 15px;
  font-weight: bold;
}

a {
  color: #D1F2EB;
  text-decoration: none;
}

.tri{
  width:60%;
  height:0px;
  margin-top: -100px;
  background-color:transparent;
  border-right:580px solid transparent;
  border-top:680px solid white;
 }

.animation{
  margin-top: -30%;
  margin-left: 65%;
  background-color: transparent;
}

.portf-text{
  margin-top: -400px;
  margin-left: 200%;
  font-size: 80px;
  font-weight: bold;
  mix-blend-mode: difference;
}
.txt-position{
  width: 600px;
  margin-top: -300px;
  margin-left: 150px;
  }
  .name-prop{
    font-size: 25px;
    color:#A93226;
  }
  .name-det{
    font-size:15px;
    font-weight: bold;
  }

 .right{
   float:right;
 }
 .left{
   float:left;
 }
  .bold{
    font-weight: bold;
 }
.paddind{
  padding-left: 10px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*
.bg-image{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 0;
  margin-bottom: 0;

}*/
.regular-txt{
  font-size: 19px;
  font-family: New Roman;
}
.bigger-txt{
  font-size: 20px;
  padding-top: 50px;
}

.con-details{
  border: 2px solid #a94442;

}

#presonal-photo{
  width:250px;
  float: left;
}
.my-hobbies{
  height:263px;
}
.well-prop{
  background-color: #eee;
}
.sub-headers{
  color: gray;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 15px;
}
.sec-body{
  padding-left: 20px;
  padding-right:20px;
  padding-bottom: 40px;
}
#aboutme-txt{
  font-size: 80px;
  font-weight: bold;
  color: gray;
}

.go-to{
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
  color:black;
  font-size: 13px;
}
/*****------ ```````````Projects' page classes````````````**/
.proj-header{
/*  height:100px;
  width: 100%;*/
  background-color: #a94442;
}

.cake-photo{
  float:left;
  width: 300px;
  margin-left:40px;
  margin-top:30px;
}
.cake-sub-header{
  font-size: 30px;
  font-weight: bold;
  color: #0B4278;
  padding-top: 20px;
  font-family: New Roman;

}

.proj-body{
  background-color: #F9F3EF;
  height:100%;
}

hr{
  height: 1px;
  color: #a94442;
  background-color: #a94442;
  border: none;
}

.jumbo-details{
  background-color: #a94442;
}
#projects-txt{
  font-size: 80px;
  font-weight: bold;

  color: white;
}

.row-props{
  display:flex;
  align-items: center;;
}

@media screen and (max-width: 480px) {
  body {
    background-color: black;
  }
